**/bin/
**/obj/
**/data/
artifacts/*
!artifacts/release/
artifacts/release/*
!artifacts/release/server-win-x64/
artifacts/release/server-win-x64/*
!artifacts/release/server-win-x64/Commando.Server.exe
!artifacts/release/server-win-x64/Commando.Server.staticwebassets.endpoints.json
!artifacts/release/server-win-x64/appsettings.json
!artifacts/release/server-win-x64/wwwroot/
!artifacts/release/server-win-x64/wwwroot/**
!artifacts/release/agent-win-x64/
artifacts/release/agent-win-x64/*
!artifacts/release/agent-win-x64/Commando.Agent.exe
!artifacts/release/agent-linux-x64/
artifacts/release/agent-linux-x64/*
!artifacts/release/agent-linux-x64/Commando.Agent
*.user
*.suo
commando-agent-state.json
commando-agent.local.json
transcripts/
tmp/
commando-agent-recovery.json
.vs/
.idea/
